#fundamentoButton {
    display: block;
    background-color: #023e8a;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fundamentoText {
    text-align: center;
    font-size: 1rem;
    color: #555;
    padding: 0 20px;
}

#quizContainer div {
    display: flex;
    justify-content: space-between;
}

#quizContainer button {
    margin: 1rem;
    padding: 2rem 2rem;
    font-size: 1em;
    color: var(--color-text-secundario);
    background-color: var(--color-bg-secundario);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}


#quizContainer button:hover {
    background-color: #357ab8;
}

<<<<<<< HEAD
=======
.filtros button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--color-text-secundario);
    background-color: var(--color-bg-secundario);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtros button:hover {
    background-color: #357ab8;
}

>>>>>>> ca4f819fcdcc82568fbe57cf387b4e2756aff505
