@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 62.5%;
    --color-bg-primario:  #f4f4f9;
    --color-bg-secundario: #0077b6;
    --color-bg-terciario: #90e0ef;
    --color-bg-quartario: #ff4d4d;
    --color-text-primario: #333;
    --color-text-secundario: #fff;
    --color-text-terciario: #023e8a;
}

body, button, input, label, h1, h2, h3, h5, h6, p, span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--color-text-primario);
}

<<<<<<< HEAD
.noticias h2, #categorias h2, .alertas h2, .timeline h2, .faq h2, .formulario-sugestoes h2, .contatos h2, .introducao h2, .dicas-preventivas h2, .quiz-educativo h2, .quiz-educativo h2, .acoes-solidarias h2, .galeria-infograficos h2, .contribua h2 {
=======
.noticias h2, #categorias h2, .alertas h2, .timeline h2, .faq h2, .formulario-sugestoes h2, .contatos h2, .introducao h2, .dicas-preventivas h2, .quiz-educativo h2, .quiz-educativo h2, .acoes-solidarias h2, .galeria-infograficos h2, .contribua h2, .filtros h2, .mapa h2, .locais-apoio h2 {
>>>>>>> ca4f819fcdcc82568fbe57cf387b4e2756aff505
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-text-terciario);
    margin: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}
.noticias p, .introducao p {
    font-size: 1.5rem;
    color: var(--color-text-primario);
    margin-bottom: 1rem;
    line-height: 1.3;
}