.noticias {
    background-color: var(--color-bg-terciario);
    padding: 20px;
    text-align: center;
}

#categorias h2 {
   margin: 2rem 0;
   text-align: center;
}
.categoria-item {
    background-color: #caf0f8;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}
